/*general styles*/

* {
    margin: 0;
    padding: 0;
}


/*flexbox layout*/

.sectionwrapper {
    width: 100%;
    height: auto;
    display: -webkit-flex;
    /* Safari */
    -webkit-flex-wrap: wrap;
    /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
}

#container {
    width: 1200px;
    width: 100%;
    height: auto;
    display: -webkit-flex;
    /* Safari */
    -webkit-flex-wrap: wrap;
    /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
}

.column {
    width: 50%;
    height: 400px;
<<<<<<< HEAD
    flex-basis: 375px;
=======
    align-content: center;
>>>>>>> origin/master
}


/*sections: */


/* header */

.title {
    width: 100%;
    height: 100px;
}

<<<<<<< HEAD
/* nav* */

nav {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    background-color: #85BDDC;
    width: 100%;
}

nav ul{
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1em;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 200px
}

li a:hover {
    background-color: #8dc4e2;
    color: #ffffff;
}

=======
>>>>>>> origin/master

/* kontakt_info */
#kontakt_info .content{
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 50px 0 50px;
}

.info_item {
    flex-basis: 300px;
}


/* om  */

#om .column1 {
    background-color: aquamarine;
    height: 100%;
    width: 50%;
    min-width: 375px;
    padding: 10px;
    margin: 20px 20px 20px 20px;
}

#om .column2 {
    background-color: blue;
    width: 50%%;
    min-width: 375px;
    height: 439px;
    text-align: center;
    margin: 20px;
    padding: 10px;
}


/* video  */

video {
    width: 70%;
    min-width: 375px;
    height: 400px;
    background-color: brown;
    align-content: center;
    display: block;
    margin: 0 auto;
}


/* patientvejledning  */

#patientvejledning .column {
    background-color: blueviolet;
}


/* klinik_billede  */

#billede {
    width: 100%;
    height: 300px;
}


/* lisbeth  */

#lisbeth .column {
    background-color: bisque;
}


/* klinikken  */

#klinikken .column {
    background-color: aqua;
}


/* footer  */

footer {
    width: 100%;
    height: 300px;
    background-color: black;
}


/*redesign master css*/


/*************************************************************************************/


/******* typografi *****************************************************************************/

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    letter-spacing: 1px;
    color: #0684C0;
    text-align: center;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: 1px;
    color: #0684C0;
    text-align: center;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: 1px;
    color: white;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 1px;
    color: white;
}

footer {
    font-family: 'Open Sans', sans-serif;
    color: #8E8586;
    text-align: center;
}


/******  billeder **************************************************************************/

section#patientvejledning .column img {
    width: 20%
}

section#klinikken .column img {
    width: 100%;
}

section#klinik_billede .klinik_billede img {
    width: 100%;
}
