/*general styles*/

* {
    margin: 0;
    padding: 0;
}


/*flexbox layout*/

.sectionwrapper {
    width: 100%;
    height: auto;
    border: 1px solid #c3c3c3;
    display: -webkit-flex;
    /* Safari */
    -webkit-flex-wrap: wrap;
    /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
}

.column {
    width: 50%;
    min-width: 375px;
    height: 400px;
}


/*sections: */


/* header */

.title {
    width: 100%;
    height: 100px;
}

/* kontakt_info */


/* om  */

#om .column {
    background-color: aquamarine;
}


/* video  */


/* patientvejledning  */

#patientvejledning .column {
    background-color: blueviolet;
}


/* klinik_billede  */

#billede {
    width: 100%;
    height: 300px;
}


/* lisbeth  */

#lisbeth .column {
    background-color: bisque;
}


/* klinikken  */

#klinikken .column {
    background-color: aqua;
}


/* footer  */

footer {
    width: 100%;
    height: 300px;
    background-color: black;
}


/*redesign master css*/


/* nav */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #85BDDC;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: .80em;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


/*************************************************************************************/

#video {
    width: 100%;
    height: auto;
    background-color: brown;
}


/******* typografi *****************************************************************************/

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    letter-spacing: 1px;
    color: #0684C0;
    text-align: center;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: 1px;
    color: #0684C0;
    text-align: center;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: 1px;
    color: #0684C0;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 1px;
    color: black;
}

footer {
    font-family: 'Open Sans', sans-serif;
    color: #8E8586;
    text-align: center;
}


/******  billeder **************************************************************************/

section#patientvejledning .column img {
    width: 20%
}

section#klinikken .column img {
    width: 100%;
}

section#klinik_billede .klinik_billede img {
    width: 100%;
}
